.services{
    margin-block-end: 5rem;

    &__title{
        text-transform: uppercase;
        color: $clr-grey;
        font-weight: bold;
        margin-block-end: 1rem;
    }

    &__grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
    }
}



@media screen and (max-width:990px){
    .services__grid{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:480px){
    .services__grid{
        grid-template-columns: 1fr;
    }
}